<%- include('header') %>
<h2>This is the about page</h2>
<p>Thank you very much. Let it be, therefore, with the great free right to bear nothing from! They leave the accusers alone!</p>

<!-- Thank you very much. Let it be, therefore, with the great free right to bear nothing from! They leave the accusers alone! -->
<%- include('footer') %>